<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
  <div class="spacer"></div>

  <button *ngIf="(authService.isReady|async) &&  !user" (click)="login()">Login &nbsp;</button>
  <div *ngIf="(authService.isReady|async) && user">
    <span class="username">Welcome, {{user.profile.given_name}}</span>
    <button (click)="logout()">Logout</button>
    <button (click)="editProfile()">Edit profile</button>
  </div>

</div>

<div class="content" role="main">
  <p>This sample project shows how to integrate with azure adb2c using oidc-client-js. </p>
  <p>Clicking the Login button above to sign in against my azure adb2c tenant or register an account. </p>
  <p>Modify the oidc-settings.json file under app/assets as appropriate to connect against your own azure adb2c tenant. </p>
  <p>Check out the accompany blog post <a href="https://www.taithienbo.com/how-to-authenticate-user-against-azure-adb2c-from-angular-app-using-oidc-client-js/">here.</a></p>
</div>

<div class="content" *ngIf="(authService.isReady|async) && user">

  <p>Login success. Below is the user's info: </p>
    <table width="100%; table-layout='fixed'">
      <tbody>
        <tr *ngFor="let item of user | keyvalue">
          <td>{{item.key}}</td>
          <td *ngIf="item.key != 'profile'">{{item.value}}</td>
          <td *ngIf="item.key == 'profile'">
            <table>
              <tbody>
                <tr *ngFor="let nestedItem of item.value | keyvalue">
                  <td>{{nestedItem.key}}</td>
                  <td>{{nestedItem.value}}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>

    </table>

</div>

<router-outlet></router-outlet>
